/* ***** Elements ***** */
html {
  height: 100vh;
  background-color: $page-background;
  border: $border-medium;
}

body {
  margin: auto;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

main {
  height: 100%;
  width: 100%;
  background-color: $page-background;
}

h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  border-right: $border-medium;
  width: 30%;
  font-size: 255%;
}

h3 {
  color: $banner-background;
  font-size: 250%;
}

img {
  cursor: pointer;
}

/* ***** Header ***** */
.main-header {
  display: flex;
  justify-content: space-between;
  border: $border-medium;
  width: 100%;
  height: auto;
  background-color: $banner-background;
}

.user-info {
  text-align: center;
  margin: auto;
  width: 40%;
  font-size: 180%;
}

/* ***** Search Bar ***** */
.search-bar {
  display: flex;
  margin: 10px 0px 10px 0px;
  width: 30%;
  height: 100%;
}

/* ***** Cards ***** */
.all-cards {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  padding: 30px 0 30px 30px;
  width: 95.5vw;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-header {
  display: flex;
  justify-content: space-between;
  border-bottom: $border-thin;
  background-color: $banner-background;
}

.recipe-name {
  display: block;
  text-align: center;
  font-size: 150%;
}

.card-picture {
  margin: 10px 3% 8px 2.6%;
  border: $border-thin;
  width: 21vw;
}

/* ***** Recipe Display ***** */
.all {
  grid-gap: 0px;
  grid-template-columns: repeat(1, 1fr);
}

/* ***** Hide Class ***** */
.hidden {
  display: none;
}

@media only screen and (max-width: 700px) {
  html {
    width: 100vw;
  }

  main {
    margin-top: 5vw;
    display: flex;
    justify-content: center;
  }

  h1 {
    border-right: none;
  }

  .main-header {
    display: grid;
    grid-template-columns: repeat(1fr, 1fr);
    grid-template-rows: auto;

    border: $border-medium;
    width: 100%;
    height: auto;
    background-color: $banner-background;
  }
  //
  // .user-info {
  //   grid-area: 1/2/3/3
  // }

  .nav-buttons {
    grid-area: 2/1/3/3
  }

  .all-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .card {
    width: 90vw;
    height: 85vw;
  }

  .card-picture {
    width: 85vw;
  }
}
