@import "base";
@import "components";
@import "layout";
// @import "mixin";

html {
  background-color: $page-background;
  border: $border-medium;
  height: 100vh;
}

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: auto;
}

main {
  background-color: $page-background;
  height: 100%;
  width: 100%;
}

h1 {
  border-right: $border-medium;
  font-size: 255%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  text-align: center;
  width: 30%;
}

h3 {
  color: $banner-background;
  font-size: 250%;
}

img {
  cursor: pointer;
}

.hidden {
  display: none;
}
